body {
  background-color: #000008;
  color: #FBF9F9;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  img {
    border-radius: 50%;
  }
}

div{
  align-items: center;
  display: flex;
  flex-direction: column;
}

 h2{
  margin-bottom: 0;
 }

.location {
  color: #cbf144;
  font-weight: 700;
  font-size: small;
  background-color: #1f1f1f;
  margin: 0;
}

.main {
  background-color: #1f1f1f;
  width: 30%;
  align-items: center;
  flex-direction: column;
  display: flex;
  border-radius: 8px;
  padding-bottom: 20px;

  @media (max-width: 600px) {
    width: 85%;
  }
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  width: 50%;

  @media (max-width: 600px) {
    width: 85%;
  }
}

.button {
  background-color: #333333 ;
  padding: 10px;
  margin: 5px;
  color: #FBF9F9;
  font-weight: 700;
  border-radius: 5px;
  border-color: transparent;
}

.button:hover {
  background-color: #cbf144;
  color:#000008
}
.attribution {
  font-size: 11px;
  padding-top: 50px;

  a{
    color: #4054a5;
  }
}